.title{
    color: white;
    background-color: red;
}
h2.dot{
    background-color: red;
    border-radius: 50%;
}
h2{
    margin: 14px 29px;
    padding: 5px;
}
div.num{
    border: 1px solid red;
}
h2.num{
    margin: 10px auto;
    text-align: center;
}